{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
$(function() {
  {% if running != '' %}
    $("#start").prop("disabled", true);
    $("input[name=category]").parent().addClass("disabled").end().prop("disabled", true);
    $("input[value={{ running }}]").prop("checked", true);
  {% else %}
    $("#end").prop("disabled", true);
  {% endif %}

  $("input[name=category]:checked").parent().removeClass("disabled").addClass("active").end().prop("disabled", false);
  $("input[name=category]").change(function(){
    $(this).parent().siblings().removeClass("active").end().addClass("active");
  });
});
</script
{% endblock %}

{% block content %}
{% if running != '' %}
<div class="alert alert-info" role="alert">
  {{ running }} started at {{ start_date.strftime('%m-%d %H:%M') }}
</div>
{% endif %}
<form action="{{ url_for('act') }}" method="POST">
  {{ form.hidden_tag() }}
  <div class="text-center">
    <div class="btn-group" data-toggle="buttons">
      {% for sub in form.category %}
      <label class="btn btn-default">
        {{ sub }}
        {{ sub.label }}
      </label>
      {% endfor %}
    </div>
  </div>
  <div id="act-buttons">
    <button type="submit" name="submit" id="start" value="start" class="btn btn-default btn-block">Start</button>
    <button type="submit" name="submit" id="end" value="end" class="btn btn-default btn-block">End</button>
  </div>
</form>
{% endblock %}
