{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
  $(function() {
    $(".record-sub").hide();
    $(".record").click(function(){
      $(this).next().toggle();
    })
    $(".item>a").click(function(e){
      e.stopPropagation();
    });
    $(".category>a").click(function(e){
      e.stopPropagation();
    });
  });
</script>
{% endblock %}
{% block content %}
  <table class="table table-hover">
    <tr>
      <th>이름</th>
      <th>카테고리</th>
      <th>날짜</th>
      <th>기간</th>
    </tr>
    {% for record in records %}
    <tr class="record">
      <td class="item"><a href="{{ url_for('show', item=record.item.name) }}">{{ record.item.name }}</a></td>
      <td class="category"><a href="{{ url_for('show', category=record.item.category.name) }}">{{ record.item.category.name }}</a></td>
      <td>{{ record.start_date.strftime('%y-%m-%d') }}</td>
      <td>{% if record.end_date is not none %}
          {% set s = (record.end_date - record.start_date).seconds %}
          {{ '{}:{:02d}'.format(s//3600, s%3600//60) }}
          {% endif %}
      </td>
    </tr>
    <tr class="record-sub">
      <td colspan="2"><a href="{{ url_for('delete', id=record.id) }}">Delete</a></td>
      <td colspan="2">{{ record.start_date.strftime('%H:%M') }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
